.contato {
    padding: 1rem;
    background: var(--branco);
}

.contato__titulo, .contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
} 

.contato__texto {
    font-weight: 300;
    margin: 1rem 0;
} 

.contato__email {
    background-color: transparent;
    border: 1px solid var(--azul);
    border-radius: 24px;
    padding: 1rem;
    width: 90%;
    color: var(--azul);
}

.contato__email::placeholder {
    background: url(../img/Email.svg) no-repeat;
    font-family: var(--fonte-principal);
    color: var(--azul);
    padding-left: 2rem;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__email {
        width: 30%;
    }

    .contato_titulo {
        font-size: 24px;
    }

    .contato__descricao {
        margin-right: 3rem;
        width: 28%;
    }
}

@media screen and (min-width: 1366px) {
    .contato {
        padding: 3rem 4vw;
    }

    .contato__descricao {
        margin-right: 0;
    }
}